<section class="design">
  <div class="design__title">
    <i class="design__title__icon"></i>
    <h2 class="design__title__text">Diseña</h2>
  </div>
  <div class="design__colors collapse-js">
    <p class="design__colors__text">Colores</p>
    <div class="design__colors__choose">
      <partial src="_palett-colors.html" colorClass="blue"></partial>
      <partial src="_palett-colors.html" colorClass="red"></partial>
      <partial src="_palett-colors.html" colorClass="yellow"></partial>
    </div>
  </div>
</section>
