<section class="design">
  <div class="design__title">
    <h2 class="design__title__text home--title">
      <i class="fas fa-vector-square design__title__icon">ii</i>Diseña
    </h2>
    <button class="design__title__btn">/\</button>
  </div>
  <div class="design__colors collapse-js">
    <p class="design__colors__text home--subtitle">Colores</p>
    <div class="design__colors__choose">
      <partial src="_palett-colors.html" colorClass="blue"></partial>
      <partial src="_palett-colors.html" colorClass="red"></partial>
      <partial src="_palett-colors.html" colorClass="yellow"></partial>
    </div>
  </div>
</section>
