<section class="design">
  <div class="design__title">
    <h2 class="design__title__text home--title">
      <i class="design__title__icon far fa-object-ungroup"></i>Diseña
    </h2>
    <button class="design__title__btn btn-collapse">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
  <div class="design__colors js-collapse">
    <p class="design__colors__text home--subtitle">Colores</p>
    <div class="design__colors__choose">
      <partial src="_palett-colors.html" colorClass="blue"></partial>
      <partial src="_palett-colors.html" colorClass="red"></partial>
      <partial src="_palett-colors.html" colorClass="yellow"></partial>
    </div>
  </div>
</section>
