<main class="main">
  <section class="visualization blue">
    <div class="visualization__wrap">
      <button class="visualization__reset home--subtitle">
        <i class="visualization__reset__icon far fa-trash-alt"></i>
        Reset
      </button>
      <div class="visualization__user">
        <div class="text__wrap text--border">
          <h3 class="visualization__user__name name--color">Nombre Apellido</h3>
          <p class="visualization__user__job">Front-end developer</p>
        </div>
        <div class="visualization__user__img"></div>
        <ul class="visualization__user__icon-list">
          <li class="icon-wrap border--color">
            <i class="icon fa fa-mobile-alt"></i>
          </li>
          <li class="icon-wrap border--color">
            <i class="icon fa fa-envelope"></i>
          </li>
          <li class="icon-wrap border--color">
            <i class="icon fab fa-linkedin-in"></i>
          </li>
          <li class="icon-wrap border--color">
            <i class="icon fab fa-github-alt"></i>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <partial src="_design.html"></partial>
</main>
