<section class="share">
  <div class="share__title">
    <h2 class="share__title__text home--title">Comparte</h2>
    <button class="share__title__btn">/\</button>
  </div>
  <div class="share__createcard__btn">
    <button class="share__createcard__btn__title">Crear Tarjeta</button>
  </div>
  <div>
    <h3 class="share__title__text">La Tarjeta ha sido creada:</h3>
    <small>https://awesome-profile-card.com?id=A456DF0001</small>
    <button class="share__Twitter__title__btn">Compartir en Twitter</button>
  </div>
</section>
