@import "core/variables";

.footr {
  height: 20vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  @media all and (min-width: $mediaTablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  &_copy {
    color: #6b6b6b;
    font-family: $font-familyText;
    font-size: 14px;
  }
  &_logo {
    width: 103px;
    height: 40px;
    margin-top: 12px;
    background-position: cover;
    background-repeat: no-repeat;
  }
}
