@import "core/variables";

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer_copy {
    color: #6b6b6b;
  }
  .footer_logo {
    background-image: url();
  }
}
