.color-pallet {
  display: flex;
  flex-basis: 50%;
}
.color-pallet__colors {
  display: flex;
}
.blue {
  .col1 {
    background-color: $colorDarkGreenBlue;
    width: 30px;
    height: 25px;
  }
  .col2 {
    background-color: $colorDirtyBlue;
    width: 30px;
    height: 25px;
  }
  .col3 {
    background-color: $colorGreenLight;
    width: 30px;
    height: 25px;
  }
}
