.blue {
  .color1 {
    background-color: blue;
  }
  .color2 {
    background-color: aqua;
  }
  .color3 {
    background-color: azure;
  }
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
